<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script>
</head>
<body>

<div id="example2"></div>


<script type="text/babel">



    class Content extends React.Component {
        render () {
            console.log('render content!');
            return <div>Content</div>
        }
    }

    class App extends React.Component {
        handleClick = () => {
            this.setState({
                a: 1
            })
        }
        render() {
            console.log('render App!');
            return (
                <div>
                    <button onClick={this.handleClick}>setState</button>
                    <Content />
                </div>
            );
        }
    }

    ReactDOM.render(
        <App />,
        document.getElementById('example2')
    );



</script>

</body>
</html>